<!DOCTYPE HTML>

<html>
	<head>
		<title>Flashion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main3.css') }}">

	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><img src="static/images/logo_white.png" alt="" width="170" height="80" /></h1>
				<nav id="nav">
					<ul>
						<li><a href="recommender">AI-Recommender</a></li>
						<li><a href="howitworks">How It Works</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>Flashion AI-Recommender</h2>
				<p>Our recommender is powered by deep learning network.<br /> Serach your favourite fashion item now by just a click.</p>
				<ul class="actions">
					<li><a href="recommender" class="button special">Try it now</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Flashion</h2>
									<p>Mission & Vision</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p><b style="font-size:20px">Flashion - a flash in fashion</b>, accelerates user experience in searching the most favorable fashion item by just a click. You will gain an extraordinary shopping experience ever through our recommender, which is built from a deep learning image classification model, helping you  to find the perfect fashion item by linking with the famous shopping web. </p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Other Projects</h2>
							<p>We are dedicated to enhance your online shopping experience!</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="static/images/viton2.jpg" alt="" />
									<h3>Virtal Try-On (Coming Soon)<br><br><span style="font-size:15px">Check out which fashion item fit you <br>by using our online fitting room</span></h3>
								</div>
							</div>
							
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="static/images/virtual.jpg" alt="" />
									<h3>Style Transfer (Coming Soon)<br><br><span style="font-size:15px">Get your unique clothing design <br>with our Style-Transfer Model</span></h3>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>About Our Team</h2>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="static/images/estherho.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Esther Ho</h4>
										<p>Project Coordinator</p>
										<a href="https://www.linkedin.com/in/esther-ho-542787114/" class="icon fa-linkedin" style="color:#191970"> Linkedin</a> 
									</header>
									<p>“The emerging trend of big data has transformed the way how corporates interact with users. In particular, data-science and machine learning act as the vital part for developing business strategic and enhancing quality of life, which ignite my interest in exploring solution that makes a change. Therefore, I initiate 	Flashion with my team, aiming to bring user a smooth experience in online shopping. I am primarily involved in data-collection, the architecture of Convolutional Neutral Network with transfer learning, project coordination and flask app design. I’m glad to work with my team to make this happen, we will keep our passion and work for even more projects. Stay tune…”</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="static/images/benli.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Ben Li </h4> 
										<p>Project Coordinator </p>
										<a href="https://www.linkedin.com/in/ben-li-065945147/" class="icon fa-linkedin" style="color:#191970"> Linkedin</a> 
									</header>
									<p>“Data Science gives rise to my interests in Programming and the use of Artificial Intelligence, my goal is to combine past working experience on Accounting field to Analysis involve Machine Learning & Deep Learning. We forms Flashion to deliver the users our enthusiasm recommending the most suitable fashion aid by our Deeping learning model. I was involved in collecting and organizing the multi-labelled dataset and developing the classification model. And responsible for deploying the model by using flask app on AWS. The Flashion recommendation is the great work of the team, and i am happy to work with my teammates!”</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="static/images/marcochan.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Marco Chan</h4>
										<p>Data Specialist</p>
										<a href="https://www.linkedin.com/in/marco-chan-0748731b1/" class="icon fa-linkedin" style="color:#191970"> Linkedin</a> 
									</header>
									<p>"I am marco chan, recently joined Xccelerate data science bootcamp after graduated from the Chinese University of Hong Kong, major in statistics. I am passionate in data analytics, machine learning and deep learning because I believe that data tells us more than just numbers, it helps us understand our users and bring valuable insight to their desires. In the project, I am in charge of collecting the multilabel fashion dataset and construct the fashion ai CNN deep learning model. Besides, I also researched the fashion clothing segmetation to improve the model’s performance. I am very grateful working with my team and appreciate all the effort we have made."</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="static/images/lawrencefung.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Lawerence Fung</h4>
										<p>Data Specialist</p>
										<a href="https://www.linkedin.com/in/lawrence-fung-5b520473/" class="icon fa-linkedin" style="color:#191970"> Linkedin</a> 
									</header>
									<p>"I recently graduated with a Bachelor's of Science in Chemistry (American Chemical Society Accredited). During college I had the opportunity to work in a professor's lab as an undergraduate researcher for 1.5 years. For Flashion, I utilized Notion to keep track of important notes during meetings; mark important due dates for the team; and keep track of each member's tasks. I performed data visualization for users to get an overview for the data. Additionally, I researched and developed an image segmentation model to remove the background in order to increase the accuracy of the trained model."</p>
								</div>
							</div>
						</div>
					</div>
				</section>

\

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Contact Us </h2>
							<a href='https://github.com/estherho412/Flashion.git' style="font-size:40px;color:white" class="icon fa-github"></a>
						</header>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; Flashion.ai</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>